<ion-header>
  <ion-navbar>
    <ion-title>
      Logging
    </ion-title>
    <ion-buttons end>
      <button (click)="logger.clear()">
        Clear
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let record of logger.records" (click)="record.json = !record.json" text-wrap>
      <ion-icon item-left [name]="icons[record.level].name" [ngStyle]="icons[record.level].style"></ion-icon>
      <span>{{record.time | date:'HH:mm:ss'}}.{{(record.time % 1000) | number:'3.0-0'}}</span>
      <span *ngFor="let arg of record.args">
        {{record.json ? (arg | json) : arg}}
      </span>
    </button>
  </ion-list>
</ion-content>
