<ion-header>
  <ion-navbar>
    <ion-title>
      Connection
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item [ngClass]="{selected: cu.deviceId == item.id}" *ngFor="let item of items" (click)="connect(item.id)">
      <h1>{{item.name}}</h1>
      <h2>{{item.id}}</h2>
      <h2 *ngIf="cu.deviceId == item.id">{{status}}</h2>
    </button>
    <button ion-item [ngClass]="{selected: cu.deviceId == 'serial'}" (click)="connect('serial')">
      <h1>Serial/USB</h1>
      <h2 *ngIf="cu.deviceId == 'serial'">{{status}}</h2>
    </button>
    <button ion-item [ngClass]="{selected: cu.deviceId == 'demo'}" (click)="connect('demo')">
      <h1>Demo Connection</h1>
      <h2 *ngIf="cu.deviceId == 'demo'">{{status}}</h2>
    </button>
  </ion-list>
</ion-content>
