<ion-toolbar>
  <ion-title>
    Connection
  </ion-title>
  <ion-buttons start>
    <button [disabled]="!cu.device?.id" (click)="onClose()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <button ion-item [ngClass]="{selected: cu.device?.id == device.id}" *ngFor="let device of devices" (click)="connect(device)">
      <h1>{{device.name}}</h1>
      <h2>{{device.id}}</h2>
      <h2 *ngIf="cu.device?.id == device.id">{{status}}</h2>
    </button>
  </ion-list>
  <ion-buttons>
    <button [disabled]="!cu.device?.id" (click)="onClose()">OK</button>
  </ion-buttons>
</ion-content>
