.sourcemaps/
.vscode/
node_modules/
platforms/
plugins/
www/
.*.json
*.log
*.tmp
*.tmp.*
# do not commit macOS specific files
**/.DS_Store
# do not commit generated images
resources/**/icon/
resources/**/splash/
