<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <chequered-flag *ngIf="rc.finished"></chequered-flag>
      <span [ngSwitch]="rc.mode">
        <template ngSwitchCase="practice">Free Practice</template>
        <template ngSwitchCase="qualifying">Qualifying</template>
        <template ngSwitchCase="race">Race</template>
      </span>
      <span [ngSwitch]="rc.mode">
        <template ngSwitchCase="qualifying">
          {{rc.timer | async | time:'m:ss'}}
        </template>
        <template ngSwitchCase="race">
          Lap {{rc.lap}}/{{rc.laps}}
          <span *ngIf="rc.time">
            {{rc.timer | async | time:'m:ss'}}
          </span>
        </template>
      </span>
      <chequered-flag *ngIf="rc.finished"></chequered-flag>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <leaderboard [fuel]="cu.fuel | async" [pitlane]="usePitlane | async" [rc]="rc">
  </leaderboard>
</ion-content>

<ion-footer>
  <ion-toolbar text-center transparent>
    <startlight tappable (click)="cu.toggleStart()" [count]="startCount | async" [blink]="startBlink | async"></startlight>
  </ion-toolbar>
</ion-footer>
