// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

$text-input-md-highlight-color: transparent;	
$text-input-md-hightlight-color-invalid: transparent;	
$text-input-md-hightlight-color-valid: transparent;

// Dark Theme
// ----------------------------------

$colors: (
  primary:    #007aff,
  secondary:  #32db64,
  danger:     #d91e18,
  light:      #f4f4f4,
  dark:       #222,
  transparent: transparent
);


$text-color:                 #fff;
$paragraph-color:            $text-color;
$link-color:                 color($colors, primary);
$background-color:           #191919;
$subdued-text-color:         #666;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif;
$font-size-base:             1.4rem; // 1.4rem == 14px

$content-padding:            16px;
$content-margin:             16px;

$toolbar-background:         #151515;
$toolbar-border-color:       color($colors, dark);
$toolbar-text-color:         $text-color;
$toolbar-active-color:       $link-color;
$toolbar-inactive-color:     #8c8c8c;

$list-text-color:            $text-color;
$list-background-color:      #242424;
$list-border-color:          #000;

// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app


$colors-md: copy-colors($colors);


$text-md-color:                       $text-color;
$paragraph-md-color:                  $paragraph-color;
$link-md-color:                       color($colors-md, primary);
$background-md-color:                 $background-color;
$subdued-text-md-color:               $subdued-text-color;

$font-family-md-base:                 "Roboto", "Helvetica Neue", sans-serif;
$font-size-md-base:                   $font-size-base;


// Material Design Outer content
// --------------------------------------------------
$outer-content-md-background-color:   $background-color;

// Material Design Toolbar
// --------------------------------------------------

$toolbar-md-background:               $toolbar-background;
$toolbar-md-border-color:             $toolbar-border-color;
$toolbar-md-text-color:               #fff;
$toolbar-md-active-color:             $toolbar-active-color;
$toolbar-md-inactive-color:           $toolbar-inactive-color;

// Material Design Card
// --------------------------------------------------

$card-md-header-color:                #ddd;
$card-md-title-text-color:            #fff;
$card-md-text-color:                  #ddd;

// Material Design List
// --------------------------------------------------

$list-md-text-color:                  $list-text-color;
$list-md-border-color:                #dedede;
$list-md-background-color:            $list-background-color;
$list-md-activated-background-color:  #d9d9d9;


// Material Design Item
// --------------------------------------------------

$item-md-padding-top:                 13px;
$item-md-padding-right:               16px;
$item-md-padding-bottom:              13px;
$item-md-padding-left:                16px;
$item-md-padding-media-top:           9px;
$item-md-padding-media-bottom:        9px;
$item-md-padding-icon-top:            11px;
$item-md-padding-icon-bottom:         10px;
$item-md-divider-background:          #151515;
$item-md-divider-color:               color($colors-md, light);

// Material Design Toggle
// ---------------------------------------------------
$toggle-md-handle-background-color-off: color($colors-md, light);


// Ripple Color
// --------------------------------------------------

@function ripple-background-color($button-color) {
  @return rgba(red($button-color), green($button-color), blue($button-color), .1);
}


// Material Design Body
// --------------------------------------------------

@mixin md-body() {
  font-family: $font-family-md-base;
  font-size: $font-size-md-base;
  background-color: $background-md-color;
}
