.checkered {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFUlEQVQYlWP4jwYY0AEdFAyAlegKAMLXf4H+fz3eAAAAAElFTkSuQmCC) repeat;
    padding-left: 1em;
}

table.leaderboard {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
}

table.leaderboard tr {
    padding-bottom: 6px;
}

table.leaderboard th, td {
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.leaderboard th {
    font-size: smaller;
}

table.leaderboard .position {
    width: 2.25em;
}

table.leaderboard .time {
    width: 6em;
}

table.leaderboard .count {
    width: 3em;
}

table.leaderboard .fuel {
    width: 6em;
}

table.leaderboard .status {
    width: 4em;
}

table.leaderboard .bestlap {
    color: #0f0;
}

table.leaderboard .allbest {
    color: magenta !important;
}

table.leaderboard span.pit {
    background: yellow;
    padding: 0 2px 0 2px 0;
    color: black;
    font-size: smaller;
    vertical-align: middle;
}

@media (min-width: 320px) {
    table.leaderboard {
        font-size: 1rem;
    }
}

@media (min-width: 400px) {
    table.leaderboard {
        font-size: 1.2rem;
    }
}

@media (min-width: 480px) {
    table.leaderboard {
        font-size: 1.4rem;
    }
}

@media (min-width: 640px) {
    table.leaderboard {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    table.leaderboard {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    table.leaderboard {
        font-size: 2.5rem;
    }
}

@media (min-width: 1280px) {
    table.leaderboard {
        font-size: 3rem;
    }
}
