$fuel-gauge-width: 100% !default;
$fuel-gauge-height: 1em !default;
$fuel-gauge-background: linear-gradient(90deg, red, #ee0 25%, green 50%, darkGreen) !default;
$fuel-gauge-background-on: transparent !default;
$fuel-gauge-background-off: $background-color !default;

fuel-gauge {
    display: flex;
    width: $fuel-gauge-width;
    height: $fuel-gauge-height;
    background: $fuel-gauge-background;
    vertical-align: -0.2em;
}

fuel-gauge > span:first-child {
    background: $fuel-gauge-background-on;
    height: 100%;
}

fuel-gauge > span:last-child {
    background: $fuel-gauge-background-off;
    height: 100%;
    flex-grow: 1;
}
