:host {
    white-space: nowrap;   
}

:host[slot=start] {
    margin-inline-end: 0.5em;
}

div.number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-text-color);
    color: var(--ion-background-color);
    width: 2em;
    height: 2em;
    border-bottom-right-radius: 6px;
}

div.stripe {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    padding-right: 0.2em;
    border-right: 0.3em solid;
}
