table.leaderboard {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    width: 100%;
}

table.leaderboard tr {
    padding-bottom: 6px;
}

table.leaderboard th, td {
    padding: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.leaderboard th {
    font-size: smaller;
}

table.leaderboard span.pit {
    background: yellow;
    color: black;
    font-size: smaller;
    vertical-align: middle;
}
