leaderboard {
    table {
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        width: 100%;
    }

    tr {
        padding-bottom: 6px;
    }

    th, td {
        padding: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    th {
        font-size: smaller;
    }

    span.bestlap {
        color: #0f0;
    }

    span.allbest {
        color: magenta !important;
    }

    span.pit {
        background: yellow;
        padding: 0 2px 0 2px 0;
        color: black;
        font-size: smaller;
        vertical-align: middle;
    }

    .position {
        @extend .stripe-container;
        text-align: left;
        width: 3em;
    }
    .name {
        text-align: left;
    }
    .time {
        text-align: right;
        width: 6em;
    }
    .bestlap {
        text-align: right;
        width: 6em;
    }
    .gap {
        text-align: right;
        width: 6em;
    }
    .int {
        text-align: right;
        width: 6em;
    }
    .laptime {
        text-align: right;
        width: 6em;
    }
    .laps {
        text-align: right;
        width: 3em;
    }
    .pits {
        text-align: right;
        width: 3em;
    }
    .fuel {
        text-align: left;
        width: 6em;
    }
    .status {
        text-align: left;
        width: 4em;
    }
}
