<td text-left class="stripe-container">
    {{index + 1}}<stripe [color]="item.color"></stripe>
</td>
<td text-left>
    <span showWhen="landscape">{{item.driver.name}}</span>
    <span showWhen="portrait">{{item.driver.code}}</span>
</td>
<td [ngSwitch]="index == 0 ? null : items[0].laps - item.laps" text-right>
    <span *ngSwitchCase="">
    {{item.time | time:'m:ss.sss'}}
    </span>
    <span *ngSwitchCase="0">
    +{{(item.time - items[0].time) | time:'s.sss'}}
    </span>
    <span *ngSwitchCase="1">
    +1 Lap
    </span>
    <span *ngSwitchDefault>
    +{{items[0].laps - item.laps}} Laps
    </span>
</td>
<td text-right>
    {{item.bestlap | time:'s.sss'}}
</td>
<td text-right [ngClass]="{bestlap: item.laptime == item.bestlap, allbest: item.laptime == bestlap}">
    {{item.laptime | time:'s.sss'}}
</td>
<td text-right>
    {{item.laps}}
</td>
<td text-right *ngIf="fuel != null">
    {{item.stops}}
</td>
<td text-left *ngIf="fuel != null">
    <fuel-gauge max="15" [value]="fuel"></fuel-gauge>
</td>
<td text-left>
    <chequered-flag *ngIf="item.finished"></chequered-flag>
    <span *ngIf="!item.finished && item.pit" class="pit">PIT</span>
</td>
