<ion-menu contentId="menu-content" (ionDidClose)="onMenuClose()" (ionDidOpen)="onMenuOpen()">
  <ion-content>
    <ion-list lines="none">
      <ion-item [color]="cu ? 'primary' : 'danger'" (click)="onMenuToggle()">
        <ion-label>
          <h1>{{cu ? cu.peripheral.name : ('No connection' | translate)}}</h1>
          <h2>{{cu?.peripheral.address}}</h2>
          <h3 *ngIf="cu">
            <span translate>Firmware version</span>
            {{version | async | cuversion}}
          </h3>
        </ion-label>
        <ion-icon slot="end" [name]="mode ? 'caret-down-sharp' : 'caret-up-sharp'"></ion-icon>
      </ion-item>
      <div *ngIf="mode">
        <ion-item-group>
          <ion-menu-toggle auto-hide="false">
            <ion-item button [disabled]="!cu" (click)="startPractice()">
              <ion-icon name="speedometer-sharp" slot="start"></ion-icon>
              <ion-label>{{'Free Practice' | translate}}</ion-label>
            </ion-item>
            <ion-item button [disabled]="!cu" (click)="startQualifying()">
              <ion-icon name="stopwatch-sharp" slot="start"></ion-icon>
              <ion-label>{{'Qualifying' | translate}}</ion-label>
            </ion-item>
            <ion-item button [disabled]="!cu" (click)="startRace()">
              <ion-icon name="trophy-sharp" slot="start"></ion-icon>
              <ion-label>{{'Race' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-item-group>
        <ion-item-group>
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLink="/drivers">
              <ion-icon name="people-sharp" slot="start"></ion-icon>
              <ion-label>{{'Drivers' | translate}}</ion-label>
            </ion-item>
            <ion-item button [disabled]="!cu" routerLink="/tuning">
              <ion-icon name="build-sharp" slot="start"></ion-icon>
              <ion-label>{{'Tuning' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-item-group>
        <ion-item-group>
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLink="/settings">
              <ion-icon menuClose name="settings-sharp" slot="start"></ion-icon>
              <ion-label>{{'Settings' | translate}}</ion-label>
            </ion-item>
            <ion-item button (click)="exitApp()" *ngIf="exitApp">
              <ion-icon name="exit-sharp" slot="start"></ion-icon>
              <ion-label>{{'Exit' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-item-group>
      </div>
      <div *ngIf="!mode">
        <ion-item-group *ngIf="open">
          <connections [selected]="cu?.peripheral"></connections>
        </ion-item-group>
        <ion-item-group *ngIf="cu">
          <ion-item button (click)="reconnect()">
            <ion-icon name="refresh-sharp" slot="start"></ion-icon>
            <ion-label>{{'Reconnect' | translate}}</ion-label>
          </ion-item>
        </ion-item-group>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
