// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$list-background-color: transparent;
$text-input-md-show-focus-highlight: false !default;
$picker-md-background-color: #242424; 
$picker-md-option-text-color: #fff;
$popover-md-background: #242424;
$toggle-md-handle-background-color-off: #f4f4f4;
$grid-padding-width: 0;
$range-md-knob-min-background-color: #007aff;
$range-md-knob-min-border: 0;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #007aff,
  secondary:  #32db64,
  danger:     #d91e18,
  light:      #f4f4f4,
  dark:       #242424,
  favorite:   #69BB7B,
  transparent: transparent
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
