// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item.selected {
    background: color($colors, primary);
}

ion-menu {
    ion-content {
        background: color($colors, dark) !important;
        ion-item-group + ion-item-group {
            border-top: 1px solid $list-md-border-color;
        }
        .item {
            border-width: 0 !important;
        }
        .item-inner {
            border-width: 0 !important;
        }
    }
}

ion-popover {
    ion-item-group + ion-item-group {
        border-top: 1px solid $list-md-border-color;
    }
    .item {
        border-width: 0 !important;
    }
    .item-inner {
        border-width: 0 !important;
    }
}

ion-modal {
    ion-content {
        background: color($colors, dark) !important;
        // background: color($colors, transparent);
    }
}

/* FIXME: is this really such a smart idea? */
ion-input[type=number] {
    input {
        text-align: right;
        &:focus {
            text-align: left;
        }
    }
}

/* FIXME: $picker-md-option-text-color not working? */
.picker-opt {
    color: $text-color;
}
