leaderboard {
    display: block;
    width: 100%;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2px;
        width: 100%;
    }
    .row.odd {
        background-color: #202020;
    }
    .row.even {
        background-color: #2c2c2c;
    }

    .cell {
        flex-grow: 0;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.25em;
    }

    .position {
        text-align: left;
        width: 2.5em;
    }
    .number {
        text-align: left;
        width: 2em;
    }
    .name {
        flex-basis: 4em;
        flex-grow: 1;
        text-align: left;
    }
    .code {
        flex-basis: 3em;
        flex-grow: 1;
        text-align: left;
    }
    .time {
        text-align: right;
        width: 6em;
    }
    .bestlap, .lastlap {
        text-align: right;
        width: 5em;
    }
    .sector1, .sector2, .sector3 {
        text-align: right;
        width: 4.5em;
    }
    .gap, .int {
        text-align: right;
        width: 5em;
    }
    .laps, .pits {
        text-align: right;
        width: 3em;
    }
    .fuel {
        text-align: left;
        width: 4em;
    }
    .status {
        text-align: left;
        width: 2em;
    }

    span.title {
        font-size: 75%;
    }

    span.bestlap {
        color: #0f0;
    }

    span.sector {
        color: yellow !important;
    }

    span.allbest {
        color: magenta !important;
    }

    // TODO: refactor status styles
    span.inpit {
        color: white;
        font-size: 75%;
        vertical-align: middle;
    }

    span.pitenter {
        color: orangered;
        font-size: 75%;
        vertical-align: middle;
    }

    span.pos-up {
        color: #0f0;
        font-size: 75%;
        &:before {
            content: "▲";
            display: inline-block;
            width: 1em;
        }
    }
    span.pos-dn {
        color: orangered;
        font-size: 75%;
        &:before {
            content: "▼";
            display: inline-block;
            width: 1em;
        }
    }
    span.pos-eq {
        color: white;
        font-size: 75%;
        &:before {
            content: "◀";
            display: inline-block;
            width: 1em;
        }
    }

    gauge {
        span {
            background: linear-gradient(to right, red, #ee0 25%, green 50%, darkGreen);
        }
    }
}
