<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <checkerboard cols="9" rows="5" *ngIf="session.finished | async"></checkerboard>
      <span [ngSwitch]="options.mode">
        <template ngSwitchCase="practice">
          Free Practice
        </template>
        <template ngSwitchCase="qualifying">
          Qualifying
        </template>
        <template ngSwitchCase="race">
          Lap <lap [value]="session.lap | async"></lap>
        </template>
      </span>
      <checkerboard cols="9" rows="5" *ngIf="session.finished | async"></checkerboard>
      <span *ngIf="options.time && !(session.finished | async)" style="float: right">
        {{session.timer | async | time:'h:mm:ss'}}
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <leaderboard [fields]="fields | async" [items]="ranking | async">
  </leaderboard>
</ion-content>

<ion-footer padding-bottom>
  <ion-toolbar text-center color="transparent">
    <button (click)="cu.toggleStart()">
      <startlight [active]="(start | async) >= 1" [blink]="blink | async"></startlight>
      <startlight [active]="(start | async) >= 2" [blink]="blink | async"></startlight>
      <startlight [active]="(start | async) >= 3" [blink]="blink | async"></startlight>
      <startlight [active]="(start | async) >= 4" [blink]="blink | async"></startlight>
      <startlight [active]="(start | async) >= 5" [blink]="blink | async"></startlight>
    </button>
  </ion-toolbar>
</ion-footer>
