<ion-header>
  <ion-navbar>
    <ion-title>
      <span translate>Tuning</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button translate value="speed">
      Speed
    </ion-segment-button>
    <ion-segment-button translate value="brake">
      Brake
    </ion-segment-button>
    <ion-segment-button translate value="fuel">
      Fuel
    </ion-segment-button>
  </ion-segment>
  <ion-list no-lines>
    <ion-item *ngFor="let model of models">
      <ion-range min="0" max="15" snaps="true" [disabled]="!(connected | async)" [(ngModel)]="model[type]" (ionChange)="update(type, $event.value, model.id)">
        <ion-label range-left>#{{model.id + 1}}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="0" max="15" snaps="true" [disabled]="!(connected | async)" [(ngModel)]="all[type]" (ionChange)="update(type, $event.value)">
        <ion-label range-left>All</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
