<ion-header>
  <ion-navbar>
    <ion-title>
      <span translate>Tuning</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only [ngClass]="{'active': link}" (click)="link = !link">
        <ion-icon name="link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button translate value="speed">Speed</ion-segment-button>
    <ion-segment-button translate value="brake">Brake</ion-segment-button>
    <ion-segment-button translate value="fuel">Fuel</ion-segment-button>
  </ion-segment>
  <ion-grid class="tuning">
    <ion-row *ngFor="let model of models">
      <ion-col stretch class="number">
        <slant [color]="(drivers | async)[model.id]?.color">
          <span class="centered">{{model.id + 1}}</span>
        </slant>
      </ion-col>
      <ion-col center class="name" showWhen="landscape">
        <span class="centered">
          {{(drivers | async)[model.id]?.name || (placeholder | translate:{number: model.id + 1})}}
        </span>
      </ion-col>
      <ion-col center class="code" showWhen="portrait">
        <span class="centered">
          {{(drivers | async)[model.id]?.code || '#' + (model.id + 1)}}
        </span>
      </ion-col>
      <ion-col center class="range">
        <ion-range no-padding min="0" max="15" snaps="true"
          [disabled]="!(connected | async)"
          (ionChange)="update(type, $event.value, link ? undefined : model.id)"
          [ngClass]="{'pristine': model[type] == null}"
          [ngModel]="model[type] || 0"
        >
        </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
