<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span [ngSwitch]="options.mode">
        <template ngSwitchCase="practice">Free Practice</template>
        <template ngSwitchCase="qualifying">Qualifying</template>
        <template ngSwitchDefault>Race</template>
      </span>
      <span [ngSwitch]="options.mode" style="float: right">
        <template ngSwitchCase="practice">
        </template>
        <template ngSwitchCase="qualifying">
          <chequered-flag *ngIf="session.finished | async"></chequered-flag>
          <span>{{session.timer | async | time:'m:ss'}}</span>
          <chequered-flag *ngIf="session.finished | async"></chequered-flag>
        </template>
        <template ngSwitchDefault>
          <chequered-flag *ngIf="session.finished | async"></chequered-flag>
          <span>Lap <lap [value]="session.lap | async"></lap></span>
          <span *ngIf="options.time">{{session.timer | async | time:'m:ss'}}</span>
          <chequered-flag *ngIf="session.finished | async"></chequered-flag>
        </template>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <leaderboard [fields]="fields | async" [items]="ranking | async">
  </leaderboard>
</ion-content>

<ion-footer>
  <ion-toolbar class="startlight" text-center transparent>
    <button clear padding (click)="cu.toggleStart()">
      <startlight [count]="start | async" [blink]="blink | async"></startlight>
    </button>
  </ion-toolbar>
</ion-footer>
