<ion-title>
  <checkerboard [cols]="9" [rows]="5" *ngIf="finished"></checkerboard>
  <span [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'practice'">
      <span translate>Free Practice</span>
    </ng-container>
    <ng-container *ngSwitchCase="'qualifying'">
      <span translate>Qualifying</span>
    </ng-container>
    <ng-container *ngSwitchCase="'race'">
      <span *ngIf="laps; else race">
        <span *ngIf="laps.count; else race0">
          <span *ngIf="laps.total; then race1; else race2"></span>
          <ng-template #race1>
            {{ 'Lap {' + '{count}' + '}/{' + '{total}' + '}' | translate:laps}}
          </ng-template>
          <ng-template #race2>
            {{ 'Lap {' + '{count}' + '}' | translate:laps}}
          </ng-template>
        </span>
        <ng-template #race0>
          <span *ngIf="laps.total; else race">
            {{ '{' + '{total}' + '} Laps' | translate:laps}}
          </span>
        </ng-template>
    </span>
      <ng-template #race>
        <span translate>Race</span>
      </ng-template>
    </ng-container>
  </span>
  <checkerboard [cols]="9" [rows]="5" *ngIf="finished"></checkerboard>
  <span *ngIf="time && !finished" style="float: right">
    {{time | time:'h:mm:ss'}}
  </span>
</ion-title>
