<ion-header>
  <ion-toolbar>
    <ion-title [ngSwitch]="mode" translate>
      <span *ngSwitchCase="'practice'" translate>Free Practice</span>
      <span *ngSwitchCase="'qualifying'" translate>Qualifying</span>
      <span *ngSwitchDefault translate>Race</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit(form.value)" [disabled]="!form.valid" translate type="submit">
        Start
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <ion-list>
      <ion-item>
        <ion-label translate>Time</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" formControlName="time" presentation="time" hourCycle="h23" 
            [showDefaultButtons]="true" cancelText="{{'Cancel' | translate}}" doneText="{{'Done' | translate}}"
            (ionChange)="onChangeTime($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="mode == 'race'">
        <ion-input class="right-align" formControlName="laps"
                   label="{{'Number of laps' | translate}}"
                   type="number" placeholder="{{'None' | translate}}"
                   (ionChange)="onChangeLaps($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="drivers"
                    label="{{'Number of drivers' | translate}}"
                    cancelText="{{'Cancel' | translate}}"
                    okText="{{'OK' | translate}}">
          <!-- ion-option seems to require translate attribute value; see
               https://github.com/ionic-team/ionic/issues/8561#issuecomment-391079689
            -->
          <ion-select-option translate value="">Automatic</ion-select-option>
          <ion-select-option *ngFor="let i of [1, 2, 3, 4, 5, 6]" [value]="i">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName="auto" translate>Autonomous Car</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle formControlName="pace" translate>Pace Car</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle #pause formControlName="pause" translate>Stop time when paused</ion-toggle>
      </ion-item>
      <ion-item *ngIf="mode == 'race'">
        <ion-toggle #slotmode formControlName="slotmode" translate>Finish all laps</ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
