<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <race-title [mode]="mode" [laps]="lapcount | async" [time]="session?.timer | async" [finished]="session?.finished | async"></race-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="(orientation | async) == 'landscape'" (click)="toggleSpeech()">
        <ion-icon slot="icon-only" [name]="options?.speech ? 'volume-high-sharp' : 'volume-mute-sharp'"></ion-icon>
      </ion-button>
      <ion-button (click)="showMenu($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cu | async; else nocu">
    <leaderboard [mode]="mode" [items]="items | async" [pitlane]="pitlane | async" [sectors]="sectors | async">
    </leaderboard>
  </div>
  <ng-template #nocu>
    <div class="ion-padding">
      <h1 translate>Welcome to Open Lap!</h1>
      <p translate>
        Please select a Control Unit device from the menu.
      </p>
      <p translate>
        If no devices are listed, please make sure that Bluetooth is enabled.
      </p>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <race-control [cu]="cu | async" [yellowFlag]="session?.yellowFlag | async" (onYellowFlag)="toggleYellowFlag()"></race-control>
</ion-footer>
