<ion-header>
  <ion-navbar>
    <ion-title>
      <span translate>Colors</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let driver of drivers; let id = index">
      <ion-label>#{{id + 1}}</ion-label>
      <ion-input readonly
       [ngModel]="driver.name"
       [placeholder]="placeholder | translate:{number: id + 1}"
      >
      </ion-input>
      <input item-right [(ngModel)]="driver.color" type="color" [style.zIndex]="100">
    </ion-item>
  </ion-list>
</ion-content>
