<ion-header>
  <ion-navbar>
    <ion-title>
      Drivers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-item *ngFor="let driver of drivers; let id = index">
      <ion-label>#{{id + 1}}</ion-label>
      <ion-input placeholder="Driver #{{id + 1}}" [ngModel]="driver.name" (ngModelChange)="driver.code = getCode(driver.name = $event)">
      </ion-input>
      <ion-note item-right>{{driver.code || '#' + (id + 1)}}</ion-note>
      <button ion-button clear item-right (click)="speak(id)">
        <ion-icon name="volume-up"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
