<ion-header>
  <ion-navbar>
    <ion-title>
      <span translate>Notifications</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label stacked>{{item.label | translate}}</ion-label>
      <ion-input [(ngModel)]="notifications[item.id].message"
        [placeholder]="'notifications.' + item.id | translate"
      ></ion-input>
      <button ion-button clear icon-only item-right (click)="speak(item.id)">
        <ion-icon name="volume-up"></ion-icon>
      </button>
      <ion-toggle [(ngModel)]="notifications[item.id].enabled"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
