<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span translate>Settings</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item [navPush]="optionsPage">
      <span translate>General</span>
    </button>
    <button ion-item [navPush]="notificationsPage">
      <span translate>Notifications</span>
    </button>
    <button ion-item [navPush]="loggingPage">
      <span translate>Logging</span>
    </button>
    <button ion-item [navPush]="licensesPage">
      <span translate>Open source licenses</span>
    </button>
    <button ion-item [navPush]="aboutPage">
      <span translate>About Open Lap</span>
    </button>
  </ion-list>
</ion-content>
