$startlight-size: 4rem !default;
$startlight-blink-duration: 1s !default;

@keyframes startlight-blink-animation {
    from {
        background: gray;
        background: radial-gradient(circle at 60% 60%, gray 0%, black 95%, gray 100%);
    }
    to {
        background: red;
        background: radial-gradient(circle at 60% 60%, red 0%, #330000 95%, red 100%);
    }
}

startlight {
    background-color: inherit;
    display: inline-block;
}

startlight > div {
    display: inline-block;
    border-radius: 50%;
    width: $startlight-size;
    height: $startlight-size;
    background: gray;
    background: radial-gradient(circle at 60% 60%, gray 0%, black 95%, gray 100%);
}

startlight > div.active {
    background: red;
    background: radial-gradient(circle at 60% 60%, red 0%, #330000 95%, red 100%);
}

startlight > div.blink {
    animation-name: startlight-blink-animation;
    animation-duration: $startlight-blink-duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
