<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Practice</ion-title>
</ion-navbar>

<ion-content>
  <table class="leaderboard">
    <colgroup>
      <col width="2.25em">
      <col>
      <col>
      <col>
      <col width="4em">
      <col width="6em" *ngIf="(cu.mode | async) != 0">
      <col width="4em">
    </colgroup>
    <thead>
      <tr>
        <th text-left>POS</th>
        <th text-left>NAME</th>
        <th text-right>LAP TIME</th>
        <th text-right>BEST LAP</th>
        <th text-right>LAPS</th>
        <th text-left *ngIf="(cu.mode | async) != 0">FUEL</th>
        <th text-left></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (items | async); let i = index;">
        <td text-left class="stripe-container">
          {{i + 1}}
          <stripe [color]="drivers.itemAt(item.id).color"></stripe>
        </td>
        <td text-left>{{drivers.itemAt(item.id).name}}</td>
        <td text-right>{{item.laptime | time}}</td>
        <td text-right>{{item.bestlap | time}}</td>
        <td text-right>{{item.laps}}</td>
        <td text-left *ngIf="(cu.mode | async) != 0">
          <fuel-gauge max="15" [value]="((cu.fuel | async) || [])[item.id]"></fuel-gauge>
        </td>
        <td text-left>
          <span *ngIf="cu.pit | async | isSet:item.id" class="pit">PIT</span>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>

<ion-toolbar position="bottom" text-center transparent>
  <startlight (click)="cu.toggleStart()" [value]="cu.start | async"></startlight>
</ion-toolbar>
