/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

a {
    color: var(--ion-text-color);
}

ion-badge.tuning {
    width: 2em !important;
}

/* highlighting */
ion-item {
    --highlight-color-focused: var(--ion-text-color);
    --highlight-color-valid: var(--ion-text-color);
}

/* make list headers stand apart */
ion-list-header {
    --color: var(--ion-color-primary);
}

/* make item groups stand apart in menus */
ion-menu {
    ion-item-group + ion-item-group {
        border-top: 1px solid /*$list-md-border-color*/;
    }
}

/* indicate "pristine" range values (tuning only?) */
ion-range.pristine {
    --knob-size: 0;
}

/* right-aligned input when not editing (is this really such a smart idea?) */
ion-input.right-align {
    :not(.has-focus) {
        text-align: right;
    }
}

/* checkered flag blinking in title (only) */
@keyframes blink-checkered-flag {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    40%  { opacity: 0; }
    60%  { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 1; }
}

ion-title {
    checkerboard {
        animation-name: blink-checkered-flag;
        animation-duration: 3s;
        vertical-align: -0.2em;
        margin-left: 4px;
        margin-right: 4px;
    }
}

/* prevent ripple effect with primary color (blue) for non-textual buttons */
ion-button.icon-only {
    --ripple-color: var(--ion-color-medium);
}

/* https://github.com/ionic-team/ionic/issues/18570 */
ion-button {
    --background-hover:transparent !important;
}

/* prevent modal from extending to right in full screen mode, overlapping Android soft buttons */
@media only screen and (min-width: 768px) and (max-height: 600px) {
    ion-modal {
        --width: 600px;
        --ion-safe-area-right: 0px;
        --ion-safe-area-left: 0px;
        --border-radius: 2px;
        --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    }
}
