@keyframes startlight-blink {
    from {
        background: radial-gradient(circle at 60% 60%, gray 0%, black 95%, gray 100%);
    }
    to {
        background: radial-gradient(circle at 60% 60%, red 0%, #330000 95%, red 100%);
    }
}

div {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    border-radius: 50%;
    background: radial-gradient(circle at 60% 60%, gray 0%, black 95%, gray 100%);
}

div.active {
    background: radial-gradient(circle at 60% 60%, red 0%, #330000 95%, red 100%);
}

div.blink {
    animation-name: startlight-blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  