<div *ngFor="let field of fields" [ngSwitch]="field" [ngClass]="[field, 'cell']">
    <ng-template ngSwitchCase="position">
        <slant [color]="item.driver?.color">
            <div class="text">{{item.position + 1}}</div>
        </slant>
    </ng-template>
    <ng-template ngSwitchCase="number">
        {{item.id + 1}}
    </ng-template>
    <ng-template ngSwitchCase="name">
        {{item.driver?.name}}
    </ng-template>
    <ng-template ngSwitchCase="code">
        {{item.driver?.code}}
    </ng-template>
    <ng-template ngSwitchCase="time">
        <span [ngSwitch]="item.position == 0 ? '' : (items[0].laps - item.laps).toString()">
            <ng-template ngSwitchCase="">
                {{item.time | time:'m:ss.sss'}}
            </ng-template>
            <ng-template ngSwitchCase="0">
                {{(item.time - items[0].time) | time:'+s.sss'}}
            </ng-template>
            <ng-template ngSwitchCase="1">
                +1 Lap
            </ng-template>
            <ng-template ngSwitchDefault>
                +{{items[0].laps - item.laps}} Laps
            </ng-template>
        </span>
    </ng-template>
    <ng-template ngSwitchCase="bestlap">
        {{item.bestLap | time:'s.sss'}}
    </ng-template>
    <ng-template ngSwitchCase="gap">
        {{(item.position && item.bestLap ? item.bestLap - items[0].bestLap : null) | time:'+s.sss'}}
    </ng-template>
    <ng-template ngSwitchCase="int">
        {{(item.position && item.bestLap ? item.bestLap - items[item.position - 1].bestLap : null) | time:'+s.sss'}}
    </ng-template>
    <ng-template ngSwitchCase="lastlap">
        <span [ngClass]="{bestlap: item.lastLap == item.bestLap, allbest: item.lastLap == bestlap}">
            {{item.lastLap | time:'s.sss'}}
        </span>
    </ng-template>
    <ng-template ngSwitchCase="sector1">
        <span [ngClass]="{sector: item.sector == 1}">
            {{item.sector1 | time:'s.sss'}}
        </span>
    </ng-template>
    <ng-template ngSwitchCase="sector2">
        <span [ngClass]="{sector: item.sector == 2}">
            {{item.sector2 | time:'s.sss'}}
        </span>
    </ng-template>
    <ng-template ngSwitchCase="sector3">
        <span [ngClass]="{sector: item.sector == 3}">
            {{item.sector3 | time:'s.sss'}}
        </span>
    </ng-template>
    <ng-template ngSwitchCase="laps">
        {{item.laps}}
    </ng-template>
    <ng-template ngSwitchCase="pits">
        {{item.pits}}
    </ng-template>
    <ng-template ngSwitchCase="fuel">
        <gauge max="15" [value]="item.fuel">&nbsp;</gauge>
    </ng-template>
    <ng-template ngSwitchCase="status">
        <checkerboard cols="7" rows="5" *ngIf="item.finished"></checkerboard>
        <span *ngIf="!item.finished && item.pit" class="pit">PIT</span>
    </ng-template>
</div>
