<th *ngFor="let field of fields" [ngSwitch]="field" [class]="field">
    <template ngSwitchCase="position">POS</template>
    <template ngSwitchCase="number">NO</template>
    <template ngSwitchCase="name">NAME</template>
    <template ngSwitchCase="code">NAME</template>
    <template ngSwitchCase="time">TIME</template>
    <template ngSwitchCase="laptime">LAP TIME</template>
    <template ngSwitchCase="bestlap">BEST LAP</template>
    <template ngSwitchCase="gap">GAP</template>
    <template ngSwitchCase="int">INT</template>
    <template ngSwitchCase="laps">LAPS</template>
    <template ngSwitchCase="pits">PITS</template>
    <template ngSwitchCase="fuel">FUEL</template>
    <template ngSwitchCase="status"></template>
</th>
