leaderboard {
    table {
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        width: 100%;
    }

    th, td {
        padding: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    th {
        font-size: smaller;
    }

    span.bestlap {
        color: #0f0;
    }

    span.allbest {
        color: magenta !important;
    }

    span.pit {
        font-size: smaller;
        vertical-align: middle;
    }

    gauge {
        span {
            background: -webkit-linear-gradient(left, red, #ee0 25%, green 50%, darkGreen);
            background: -o-linear-gradient(left, red, #ee0 25%, green 50%, darkGreen);
            background: linear-gradient(to right, red, #ee0 25%, green 50%, darkGreen);
        }
    }

    td.position {
        height: 1em;
        padding: 0;
        .slant-content {
            padding: 0.25rem 0.5rem;
        }              
    }   
    .position {
        text-align: left;
        width: 2.8em;
    }
    .number {
        text-align: left;
        width: 2em;
    }
    .name {
        text-align: left;
    }
    .code {
        text-align: left;
    }
    .time {
        text-align: right;
        width: 6em;
    }
    .bestlap {
        text-align: right;
        width: 6em;
    }
    .gap {
        text-align: right;
        width: 6em;
    }
    .int {
        text-align: right;
        width: 6em;
    }
    .laptime {
        text-align: right;
        width: 6em;
    }
    .laps {
        text-align: right;
        width: 3em;
    }
    .pits {
        text-align: right;
        width: 3em;
    }
    .fuel {
        text-align: left;
        width: 6em;
    }
    .status {
        padding: 0 4px 0 4px;
        text-align: left;
        width: 2.5em;
    }
}
