leaderboard {
    display: block;
    width: 100%;
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        width: 100%;
    }

    .cell {
        flex-grow: 0;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.25rem;
    }

    .position {
        text-align: left;
        width: 2.5em;
    }
    .number {
        text-align: left;
        width: 2em;
    }
    .name {
        flex-basis: 4em;
        flex-grow: 1;
        text-align: left;
    }
    .code {
        flex-basis: 3em;
        flex-grow: 1;
        text-align: left;
    }
    .time {
        text-align: right;
        width: 6em;
    }
    .bestlap {
        text-align: right;
        width: 5em;
    }
    .gap {
        text-align: right;
        width: 5em;
    }
    .int {
        text-align: right;
        width: 5em;
    }
    .lastlap {
        text-align: right;
        width: 5em;
    }
    .laps {
        text-align: right;
        width: 3em;
    }
    .pits {
        text-align: right;
        width: 3em;
    }
    .fuel {
        text-align: left;
        width: 4em;
    }
    .status {
        text-align: left;
        width: 2em;
    }

    span.title {
        font-size: 75%;
    }

    span.bestlap {
        color: #0f0;
    }

    span.allbest {
        color: magenta !important;
    }

    span.pit {
        font-size: 75%;
        vertical-align: middle;
    }

    gauge {
        span {
            background: linear-gradient(to right, red, #ee0 25%, green 50%, darkGreen);
        }
    }

    leaderboard-item .position {
        padding: 0;
        .text {
            padding: 0.25rem 0.5rem;
        }
    }
}
