<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate>Settings</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-select label="{{'Language' | translate}}" [(ngModel)]="options.language" (ionChange)="updateLanguage()" cancelText="{{'Cancel' | translate}}" okText="{{'OK' | translate}}">
        <!-- ion-option seems to require translate attribute value; see
             https://github.com/ionic-team/ionic/issues/8561#issuecomment-391079689
          -->
        <ion-select-option translate value="">Default</ion-select-option>
        <ion-select-option value="de">Deutsch</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="it">Italiano</ion-select-option>
        <ion-select-option value="hu">Magyar</ion-select-option>
        <ion-select-option value="pl">Polski</ion-select-option>
        <ion-select-option value="pt">Português</ion-select-option>
        <ion-select-option value="sk">Slovak</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item routerLink="/settings/voice">
      <ion-label>{{'Voice' | translate}}</ion-label>
    </ion-item>
    <ion-item routerLink="/settings/connection">
      <ion-label>{{'Connection' | translate}}</ion-label>
    </ion-item>
    <ion-item routerLink="/settings/notifications">
      <ion-label>{{'Notifications' | translate}}</ion-label>
    </ion-item>
    <ion-item button (click)="reset()">
      <ion-label>{{'Reset settings' | translate}}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>{{'About' | translate}}</ion-label>
    </ion-list-header>
    <ion-item routerLink="/settings/about">
      <ion-label>{{'About Open Lap' | translate}}</ion-label>
    </ion-item>
    <ion-item href="https://github.com/tkem/openlap/blob/master/PRIVACY.md" target="_system">
      <ion-label>{{'Privacy policy' | translate}}</ion-label>
    </ion-item>
    <ion-item routerLink="/settings/licenses">
      <ion-label>{{'Open source licenses' | translate}}</ion-label>
    </ion-item>
    <ion-item routerLink="/settings/logging">
      <ion-label>{{'Event log' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
